<!-- style.css  rgb(128, 28, 185) -->

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- <style>
	.dnjswjd:hover{color:#800080 !important}
	</style> -->

	<!-- Document Title
	============================================= -->
	<title>Miro | The Multi-Purpose HTML5 Template</title>

	<!-- Date & Time Picker CSS -->
	<link rel="stylesheet" href="demos/travel/css/datepicker.css" type="text/css" />
	<link rel="stylesheet" href="css/components/timepicker.css" type="text/css" />
	<link rel="stylesheet" href="css/components/daterangepicker.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<style>
			.timepicker{
				display: none !important;
			}
			</style>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">
					
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/#" class="standard-logo" data-dark-logo="images/miro_logo.png"><img src="images/miro_logo.png" alt="miro Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

							<ul>
									<li><a href="/"><div>MIRO</div></a></li>
					 
									<li class="mega-menu"><a href="/announce"><div>Notification</div></a></li>
					 
									<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a></li>
					 
									<li class="mega-menu"><a href="/gallery"><div>Gallery</div></a></li>
					 
									<li class="mega-menu"><a href="/notice"><div>Codes</div></a></li>
					 
									<li class="mega-menu"><a href="/health"><div>Health</div></a></li>
					 
									<li class="mega-menu"><a href="/faqs"><div>Posts</div></a></li>
									
								  </ul>
						
					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('images/slider/swiper/jiwoong.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Welcome to Miro</h2>
									<!-- <p data-caption-animate="fadeInUp" data-caption-delay="200">Nice to meet you</p> -->
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
								</div>
							</div>
							<div class="video-wrap">
								<video id="slide-video" poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
									<source src='images/videos/explore.webm' type='video/webm' />
									<source src='images/videos/explore.mp4' type='video/mp4' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
						<div class="swiper-slide" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;">
							<div class="container clearfix">
								<div class="slider-caption">
									<h2 data-caption-animate="fadeInUp">Great Performance</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
								</div>
							</div>
						</div>
					</div>
					<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

				<div class="content-wrap">
	
					<div class="container clearfix">
	
						<!-- Post Content
						============================================= -->
						<div class="postcontent nobottommargin clearfix">
	
							<!-- Posts
							============================================= -->
							<div id="posts">
	
								<div class="entry clearfix">
									<div class="entry-image">
										<a href="images/life.png" data-lightbox="image"><img class="image_fade" src="images/life.png" alt="Introduction1"></a>
									</div>
									<div class="entry-title">
										<h2>Life is like maze, like <strong>Miro</strong></h2>
									</div>
								</div>
	
							   <div class="entry clearfix">
									<div class="entry-image">
											<a href="images/together.jpg" data-lightbox="image"><img class="image_fade" src="images/together.jpg" alt="Introduction2"></a>
									</div>
									<div class="entry-title">
										<h2>But <strong>together</strong>, we can do it.</h2>
									</div>
									
								</div>
		
								<div class="entry clearfix">
									<div class="entry-image">
										<blockquote>
											<p>"훌륭한 업적은 함께 일궈낸 작은 것들의 연속으로 이뤄진다."</p>
											<footer>Vincent van Gogh</footer>
											
										</blockquote>

										<div class="entry clearfix">
												<div class="entry-title">
												
													<h2><strong>미로</strong>에 오신 것을 진심으로 환영합니다.</h2>
												</div>
										</div>
										
									</div>
								</div>
	
								
	
							</div><!-- #posts end -->
	
	
						</div><!-- .postcontent end -->
	
						<!-- Sidebar
						============================================= -->
						<div class="sidebar nobottommargin col_last clearfix">
							<div class="sidebar-widgets-wrap">
	
								


									<form action="#" method="post" class="nobottommargin">
											<div class="input-daterange travel-date-group bottommargin-sm">
												<div class="row">
													<div class="clear"></div>
													<div class="col-sm-6 bottommargin-sm">
														<div class="datetimepicker2"></div>
													</div>
												</div>
											</div>
										</form>
								
										<div class="clear"></div>
										
										<div class="col_one_fourth nobottommargin center" style="margin-right:10%; margin-right:15%">
												<i class="i-plain i-xlarge divcenter nobottommargin icon-globe"></i>
												<div class="counter counter-large" style="color: #2157ec;"><span data-from="0" data-to="<%=visit.today%>" data-refresh-interval="50" data-speed="2500"></span></div>
												<h5>TODAY</h5>
											</div>

											


										<div class="col_one_fourth nobottommargin center" style="margin-left:10%">
												<i class="i-plain i-xlarge divcenter nobottommargin icon-globe"></i>
												<div class="counter counter-large" style="color: #4b0d6e"><span data-from="0" data-to="<%=visit.total%>" data-refresh-interval="50" data-speed="2500"></span></div>
												<h5>TOTAL</h5>
											</div>




								<br>
								<br>
	
							</div>
	
						</div>
						<!-- .sidebar end -->
	
					</div>
	
				</div>
	
			</section><!-- #content end -->



		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/logo_miro.png" alt="" class="footer-logo">
				
								

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								
							</div>

						</div>


						<div class="col_one_third col_last">

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

									<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
										<address>
											<strong>Headquarters:</strong><br>
											대구광역시 북구 대학로 80 경북대학교<br>
											IT2호관 전자공학부 NT로봇플라자<br>
										</address>
										<abbr title="Phone Number"><strong>Phone:</strong></abbr> (82) 053 123 4567<br>
										<abbr title="Fax"><strong>Fax:</strong></abbr> (82) 010 1234 5678<br>
										<abbr title="Email Address"><strong>Email:</strong></abbr> miro@knu.ac.kr
									</div>

							</div>

						</div>

						
						<div class="widget clearfix" style="margin-bottom: -20px;">

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
					</div>

					<div class="col_half col_last tright">

						<div class="clear"></div>

						<i class="icon-envelope2"></i> miro@knu.ac.kr <span class="middot">&middot;</span> <i class="icon-headphones"></i> +82-010-1234-5678 <span class="middot">&middot;</span> <i class="icon-skype2"></i> Miro2018
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>


	<!-- Date & Time Picker JS -->
	<script type="text/javascript" src="js/components/moment.js"></script>
	<script type="text/javascript" src="demos/travel/js/datepicker.js"></script>
	<script type="text/javascript" src="js/components/timepicker.js"></script>

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="js/components/daterangepicker.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript">
		$(function() {
			$('.travel-date-group .default').datepicker({
				autoclose: true,
				startDate: "today",
			});

			$('.travel-date-group .today').datepicker({
				autoclose: true,
				startDate: "today",
				todayHighlight: true
			});

			$('.travel-date-group .past-enabled').datepicker({
				autoclose: true,
			});
			$('.travel-date-group .format').datepicker({
				autoclose: true,
				format: "dd-mm-yyyy",
			});

			$('.travel-date-group .autoclose').datepicker();

			$('.travel-date-group .disabled-week').datepicker({
				autoclose: true,
				daysOfWeekDisabled: "0"
			});

			$('.travel-date-group .highlighted-week').datepicker({
				autoclose: true,
				daysOfWeekHighlighted: "0"
			});

			$('.travel-date-group .mnth').datepicker({
				autoclose: true,
				minViewMode: 1,
				format: "mm/yy"
			});

			$('.travel-date-group .multidate').datepicker({
				multidate: true,
				multidateSeparator: " , "
			});

			$('.travel-date-group .input-daterange').datepicker({
				autoclose: true
			});

			$('.travel-date-group .inline-calendar').datepicker();

			$('.datetimepicker').datetimepicker({
				showClose: true
			});

			$('.datetimepicker1').datetimepicker({
				format: 'LT',
				showClose: true
			});

			$('.datetimepicker2').datetimepicker({
				inline: true,
				sideBySide: true
			});

		});

		$(function() {
			// .daterange1
			$(".daterange1").daterangepicker({
				"buttonClasses": "button button-rounded button-mini nomargin",
				"applyClass": "button-color",
				"cancelClass": "button-light"
			});

			// .daterange2
			$(".daterange2").daterangepicker({
				"opens": "center",
				timePicker: true,
				timePickerIncrement: 30,
				locale: {
					format: 'MM/DD/YYYY h:mm A'
				},
				"buttonClasses": "button button-rounded button-mini nomargin",
				"applyClass": "button-color",
				"cancelClass": "button-light"
			});

			// .daterange3
			$(".daterange3").daterangepicker({
				singleDatePicker: true,
				showDropdowns: true
			},
			function(start, end, label) {
				var years = moment().diff(start, 'years');
				alert("You are " + years + " years old.");
			});

			// reportrange
			function cb(start, end) {
				$(".reportrange span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			}
			cb(moment().subtract(29, 'days'), moment());

			$(".reportrange").daterangepicker({
				"buttonClasses": "button button-rounded button-mini nomargin",
				"applyClass": "button-color",
				"cancelClass": "button-light",
				ranges: {
				   'Today': [moment(), moment()],
				   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				   'This Month': [moment().startOf('month'), moment().endOf('month')],
				   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
			}, cb);

			// .daterange4
			$(".daterange4").daterangepicker({
				autoUpdateInput: false,
				locale: {
					cancelLabel: 'Clear'
				},
				"buttonClasses": "button button-rounded button-mini nomargin",
				"applyClass": "button-color",
				"cancelClass": "button-light"
			});

			$(".daterange4").on('apply.daterangepicker', function(ev, picker) {
				$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
			});

			$(".daterange4").on('cancel.daterangepicker', function(ev, picker) {
				$(this).val('');
			});

		});

	</script>
</body>
</html>