<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Schedule | MIRO</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="./images/miro.png"><img src="./images/miro.png" alt="MIRO Logo"/></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"/></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

							<ul>
									<li><a href="/"><div>MIRO</div></a></li>
					 
									<li class="mega-menu"><a href="/announce"><div>Notification</div></a></li>
					 
									<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a></li>
					 
									<li class="mega-menu"><a href="/gallery"><div>Gallery</div></a></li>
					 
									<li class="mega-menu"><a href="/notice"><div>Codes</div></a></li>
					 
									<li class="mega-menu"><a href="/health"><div>Health</div></a></li>
					 
									<li class="mega-menu"><a href="/faqs"><div>Posts</div></a></li>
									
								  </ul>
						
					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Schedule</h1>
				<ol class="breadcrumb">
					<li><a href="/">MIRO</a></li>
					
					<li class="active">Schedule</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<table class="table">
						  <thead>
							<tr>
							  <th>MIRO2018</th>
							  <th></th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>2018.01</td>
							  <td>1.16(화)</td>
							  <td>희조 교육 시작</td>
							</tr>
							<tr>
							  <td></td>
							  <td>1.19(월)</td>
							  <td>인원 모집</td>
							</tr>
							<tr>
							  <td>2018.02</td>
							  <td>2.19(월)</td>
							  <td>모집 마감</td>
							</tr>
						  </tbody>
						</table>

						<div class="line"></div>


				</div>

			</div>

		</section><!-- #content end -->

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>