<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    </head>
    <body>
        <div class="container">

            <form id="formtag" method="post" action="/upload" enctype="multipart/form-data">
                 <div class="form-group">
                 <label>글쓰기</label>
                     <hr>
                        <input class="form-control" placeholder="제목을 입력해 주세요" name="title" required>
                     </div>
                
                     <div class="form-group">
                        <textarea class="form-control" placeholder="내용을 입력해 주세요" rows="6" name="content" required></textarea>
                     </div>
                     <div>
                 </div>
                <input type="file" name="userfile">
            </form>

            <div>
                     <a onClick="document.getElementById('formtag').submit()" float="right" class="btn btn-primary">완료</a>
                     <a href="/gallery" float="right" class="btn btn-primary">게시판으로</a>
            </div>
        </div>
    </body>
</html>